body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 10px solid black;
}
.buttons {
    display: flex;
    flex-direction: row;
}

.header {
    text-align: center;
    margin: 0 auto;
    background-color: rgb(166, 179, 202);

}
#webcam {
    width: 500px;
    height: 400px;
    background-color: dimgray;
    transform: scale(-1, 1);
}

